header {
    padding: 60px 0;
}
header table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 5px #ccc;
}
header table,header td {
    border: 2px solid black;
    border-collapse: collapse;
}
header td a {
    display: block;
    color: #000;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}
  
header .active {
    background-color: #96bdf2;
}
  